body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calculator {
  height: 33rem;
  width: 25rem;
  padding: 2rem;
  background-color: rgba(129, 72, 2, 0.63);
  border: solid 2px rgb(20, 17, 12);
  border-radius: 3rem;
}

.window {
  background-color: white;
  border: solid 2px rgba(82, 62, 37, 0.979);
  border-radius: 0.5rem;
  padding: 1rem;
  height: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 2rem;
  overflow: hidden;
}

.input {
  min-height: 50%;
  font-size: 3rem;
}

.operations {
  min-height: 40%;
  font-size: 2rem;
}

.clear-input {
  display: flex;
  height: 10%;
  gap: 1rem;
  margin: 2rem 0;
}

.clear,
.delete {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 100;
  background-color: rgba(104, 65, 18, 0.801);
  border-radius: 0.5rem;
  border: solid 2px rgba(82, 62, 37, 0.979);
  color: white;
  font-size: 2rem;
  font-weight: 300;
  flex: 1 1 auto;
}

.clear:hover,
.delete:hover {
  cursor: pointer;
  background-color: rgba(104, 65, 18, 0.596);
}

.clear:active,
.delete:active {
  cursor: pointer;
  transform: translate(1px, 1px);
}

.number-operator {
  display: flex;
  height: 10%;
  flex-wrap: wrap;
  gap: 1rem;
}

.number,
.operator {
  background-color: white;
  border-radius: 0.5rem;
  border: solid 2px rgb(39, 38, 38);
  font-size: 1.5rem;
  width: 22%;
  height: 90%;
}

.number:hover,
.operator:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.616);
}

.number:active,
.operator:active {
  cursor: pointer;
  transform: translate(1px, 1px);
}
