@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@300;500&family=Scope+One&family=Zen+Maru+Gothic:wght@300;400;500;700;900&&display=swap');

$header-color: rgba(252, 180, 47, 0.8);
$background-color: rgb(125, 175, 233);
$box-shadow-color: rgb(31, 137, 223);
$text-color: rgb(77, 77, 77);

$first-color: #a0c2d1;
$second-color: #b19ac6;
$third-color: #f1ebf5;
$fourth-color: #f172a1;
$fifth-color: #e74397;
$sixth-color: #7d6859;
$seventh-color: #afd275;

/* ----------------------- GENERAL ----------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: 'Zen Maru Gothic', sans-serif;
  font-weight: 300;
  box-sizing: border-box;
}

@mixin flexColumn {
  display: flex;
  flex-direction: column;
}

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  @include flexColumn();
}

/* ----------------------- HEADER ----------------------- */

header {
  font-family: 'Scope One', serif;
  background-color: $header-color;
  color: white;
  height: 8rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
  padding: 2rem 3rem;

  i {
    font-size: 5rem;
    position: relative;
    bottom: 0.5rem;
  }

  h1 {
    font-size: 3rem;
  }
}

/* ----------------------- MAIN ----------------------- */

/* --------- PRESENT - HOURLY ---------- */

#present-weather {
  display: flex;
  align-items: center;
  background-color: $background-color;
  height: 50rem;
  color: $text-color;

  .now-weather {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: white;
    font-family: 'Zen Maru Gothic', sans-serif;
    width: 33rem;
    height: 33rem;
    margin: 0rem 5rem;
    padding: 1.5rem;
    border: 3px solid $header-color;
    box-shadow: 5px 5px 2px $box-shadow-color;
    border-radius: 10px;

    img {
      grid-column: span 3;
      position: relative;
      top: 1rem;
      left: -1rem;
      width: 125%;
    }

    .main-infos {
      text-align: center;
      font-size: 2rem;
      margin: auto 0;
      @include flexColumn();

      .titles {
        font-size: 2rem;
      }

      h2 {
        font-weight: 500;
        color: $fourth-color;
      }

      h3 {
        font-weight: 300;
      }

      span {
        @include flexCenter();
        gap: 1rem;
        font-size: 1.75rem;
      }

      .min-max {
        display: flex;
        gap: 2rem;
        margin-top: 0.75rem;

        .value {
          color: $fourth-color;
          font-weight: 500;
          position: relative;
          left: 0.33rem;
        }
      }
    }

    .second-categories {
      grid-column: span 4;
      display: flex;
      justify-content: space-around;

      i,
      .icon {
        font-size: 2rem;
        color: black;
        font-weight: 300;
      }

      p {
        font-size: 1.5rem;
        font-weight: 500;
        color: $fourth-color;
      }

      .column-wrapper {
        @include flexColumn();
        align-items: center;
        gap: 1rem;
      }
    }
  }
}
